.product {
  padding-top: desktop-vw(120px);
  margin-bottom: desktop-vw(200px);

  .image {
    width: desktop-vw(508px);
    height: desktop-vw(508px);
    position: relative;
    grid-column: 1/7;
    border: 2px solid black;
    border-radius: 40px;
    overflow: hidden;

    img {
      object-fit: contain;
    }
  }

  .name {
    font-size: desktop-vw(60px);
    text-align: start;
    border-bottom: 1px solid black;
    margin-bottom: desktop-vw(40px);
  }
}
